
        .box1 {
            background-color: #A0A0A0;
            height: 100px;
            width: 25%;
            float: left;
        }
        
        .box2 {
            background-color: #74D7CB;
            height: 100px;
            width: 25%;
            float: left;
            
        }
        
        .box3 {
            background-color: #A0A0A0;
            height: 100px;
            width: 25%;
            float: left;
            text-align: center;
        }
        
        .box3:hover {
            background-color: #A2D9CE;
            transition: 0.25s;
        }
        
        .box4 {
            background-color: #74D7CB;
            height: 100px;
            width:25%;
            float: left;
        }
        
        .box4:hover {
            background-color: A9BCF5;
            transition: 0.25s;
        }
        
        #bottom {
            background: grey;
            height: 100px;
            width: 100%;
            position: fixed;
            bottom: 0;
        }
        
      #mainbox {
        height: 70px; 
        clear: both;    
        background-color: cyan;
      }
        
      .btn {
          background-color: green;
          color: red;
          border: 2px;
          padding: 1rem;
          transition: 1s;
          padding: 1rem;
        }
        
        .btn:hover {
            background-color: yellow;
            color: blue;
            transition: 0.5s;
            padding: 1rem;
        }
            
            
     
